html{
 height: 100%;
}
body{
    height: 100%;
    background-color: indianred;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 50px auto 100px;
}
header{
    background-color: blueviolet;
    grid-column: 1/-1;
}
aside{
    background-color: goldenrod;
}
section{
    background-color: gray;
    grid-column: 2/4;
}
footer{
    background-color: greenyellow;
    grid-column: 1/-1;
}